/* Fonts */

$primary-font: 'Roboto Condensed', sans-serif;

/* Colors */

$primary-color:  #f4eeff;
$secondary-color:  #352961;
$hover-links-color: #c2a8cf;

/* Container */

$small-container: 100%;
$large-container: 80%;

/* Mobile breakpoints */

$small: 586px;
$medium: 768px;