%btn{
    border-radius: 30px;
    padding: 15px 35px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn-primary{
    @extend %btn;
    background-color: $primary-color;
    color: $secondary-color;

    &:hover{
        background-color: $secondary-color;
        color: $primary-color;
        box-shadow: 2px 2px 16px 0 $primary-color;
    }
}

.btn-secondary{
    @extend %btn;
    background-color: $secondary-color;
    color: $primary-color;

    &:hover{
        background-color: $primary-color;
        color: $secondary-color;
        box-shadow: 2px 2px 16px 0 $secondary-color;
    }
}