* {
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}


body {
    background-image: url(./img/bg-image.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    font-family: $primary-font;
    color: $primary-color;

}

a,
button {
    transition: all .4s;
}

ul{
    padding: 0;
}

section{
    padding: 60px 0;
    text-align: center;   

    .reveal-up{
        position: relative;
        transform: translateY(100px);
        opacity: 0;
        transition: opacity 1.5s ease;
        transition: transform 1.5s ease, opacity 1.5s ease;
    }
    
    .active-up {
        transform: translateY(0px);
        opacity: 1;
    }

    .reveal-left{
        position: relative;
        transform: translateX(-100px);
        opacity: 0;
        transition: transform 1.5s ease, opacity 1.5s ease;
    }
    
    .active-left {
        transform: translateX(0px);
        opacity: 1;
    }

    .reveal-right{
        position: relative;
        transform: translateX(100px);
        opacity: 0;
        transition: transform 1.5s ease, opacity 1.5s ease;
    }
    
    .active-right {
        transform: translateX(0px);
        opacity: 1;
    }

    h2{
        margin-top: 0;
        font-size: 2.5rem;
        text-align: center;
    }

    p{
        margin: auto;
        font-weight: 300;
    }

    @media all and (max-width: $small){
        p{
            width: 70%;;
        }
    }

}




.container {
    max-width: $large-container;
    margin: 0 auto;    
}

@media all and (max-width: $small) {
    .container {
        max-width: $small-container;
    }
}