* {
    box-sizing: border-box;
}


body {
    background: $background-color;
    background-attachment: fixed;
    background-position: center;
    font-family: $primary-font;
    color: $primary-color;
}

a,
button {
    transition: all .4s;
}

ul{
    padding: 0;
}

.container {
    max-width: $large-container;
    margin: 0 auto;
}

@media all and (max-width: $small) {
    .container {
        max-width: $small-container;
    }
}