.main-header {
    height: 650px;
    margin-top: 300px;

    .main-header-holder {

        h1 {
            font-size: 50px;

            span {
                color: $secondary-color;
            }

        }
       
    }

}

@media all and (max-width: $small){

    .main-header{
        height: 500px;

        .main-header-holder{
            margin-left: 25px;
    
            h1{
                font-size: 42px;
            }
    
            button{
                margin-top: 30px;
            }
        }
    }    
    
    
}