.main-header {
    height: 100vh;
    display: flex;
    @include flex-align(center, center);
    color: $primary-color;

    .main-header-holder {


        @include fade-up;

        h1 {
            font-size: 50px;

            span {
                color: $secondary-color;
            }

        }

    }

    @media all and (max-width: $small) {

        .main-header-holder {
            margin-left: 25px;

            h1 {
                font-size: 42px;
            }

            button {
                margin-top: 30px;
            }
        }
    }

}